#differ{
  width: 100%;
  justify-content:center;
  display:flex;
  min-height:350px;
  gap:5%;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
padding-top:6rem;
height: fit-content !important;
overflow:hidden;
}
.chain{
text-align:center;
}
.chain svg{
	rotate:180deg;
	z-index:-1;
	position:relative;
	height:500px;	
	top:-480px;
	margin:auto;
}

#differ div{
  transition:0.6s;
  width:20%;	
  height:100px;
  background-size:cover;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/resources/media/wood.webp);
  box-shadow:0px 0px 20px #000 inset,0px 0px 20px #000;
  border-radius:10px;
  padding:12px;
  background-repeat:no-repeat;
  
}
	#chain1{margin-top:-60px !important;}
    #chain2{margin-top:-67px !important;}
    #chain3{margin-top:-50px !important;}
@media (min-width:722px) and (max-width:1300px){
	#differ h3{font-size:1.5rem !important;}
	#differ div{width:24%;}


}

@media (min-width:722px) and (max-width:914px){#differ h3{font-size:1.2rem !important;} #differ div span::before{height:10px !important;} #differ div{height:120px;}}
#differ h3{
	font-size:1.6rem;
	color:rgb(200,200,200);
  font-family:poppins;
  text-align:center !important;  
  line-height:1em;
  margin-bottom:-2px; 
  white-space:nowrap;
  margin-top:0px;
  text-shadow: 0px -1px 0px rgba(255,255,255,.3), 0px 1px 0px rgba(0,0,0,.7);
  width:fit-content;
}
#differ{
	font-size:1rem;
	color:#FFF;
	font-family:poppins;
	
	}
#differ div:nth-child(1) span:before{ 
  white-space:nowrap;
 content: "Design artístico";
 color:transparent;
 height:13px;
 overflow:hidden;
 display:block;
 position:relative;
 margin-top:-1em;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 background-color:rgba(0,0,0,0.3);z-index:1312;
}
#differ div:nth-child(2) span:before{ z-index:1312;
  white-space:nowrap;
 content: "Alta performance";
 color:transparent;
 height:13px;
 overflow:hidden;
 display:block;
 position:relative;
 margin-top:-1em;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 background-color:rgba(0,0,0,0.3);
}
#differ div:nth-child(3) span:before{ z-index:1312;
  white-space:nowrap;
 content: "Acompanhamento";
 color:transparent;
 height:13px;
 overflow:hidden;
 display:block;
 position:relative;
 margin-top:-1em;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 background-color:rgba(0,0,0,0.3);
}
#differ div:nth-child(1){
  margin-left:2vw;  
  background-position:center left;
}  	
#differ div:nth-child(2){
  margin-left:2vw;  
  background-position:right bottom;
}  	
#differ div:nth-child(3){
  margin-left:2vw;  
  background-position:top;
}  	
@media (max-width:722px){
#differ div{
	position:absolute;
	width:300px !important;	
	
}
#differ{ width:100vw; flex-flow:column; margin-top:-120px; align-items:center;}
#differ div:nth-child(1){
  background-position:center left;
  animation:slider1 15s infinite;margin-top:-600px;
}  	
#differ div:nth-child(2){
  background-position:right bottom;
  animation:slider2 15s infinite;margin-top:-600px;
}  	
#differ div:nth-child(3){
  background-position:top;
  animation:slider3 15s infinite;margin-top:-600px;
}  	
.animation1{
	visibility:visible !important;
}
}	
.animation1{
	visibility:hidden;
}

@keyframes slider1{
	0%{margin-top:-500px;}
	10%{margin-top:0px;}
	20%{margin-top:0px;}
	40%{margin-top:-600px;}
	60%{margin-top:-600px;}
	80%{margin-top:-600px;}
	100%{margin-top:-600px;}
}
@keyframes slider2{
	0%{margin-top:-600px;}
	5%{margin-top:-600px;}
	20%{margin-top:-600px;}
	40%{margin-top:0px;}
	60%{margin-top:0px;}
	80%{margin-top:-600px;}
	100%{margin-top:-600px;}
}
@keyframes slider3{
    0%{margin-top:-600px;}
	5%{margin-top:-600px;}
	20%{margin-top:-600px;}
	40%{margin-top:-600px;}
	60%{margin-top:-600px;}
	80%{margin-top:0px;}
	97%{margin-top:-600px;}
	100%{margin-top:-600px;}	
}
/*---------------------FUTURA LANDLIB------------*/
.animation1-run{
	animation:animation1 2s forwards;		visibility:visible !important;
}
.animation2-run{
	animation:animation1 2s forwards;
}
.animation3-run{
	animation:animation1 2s forwards;
}
.animation4-run{
	animation:animation4 2s forwards;
}
@keyframes animation1{
   	0%{
		margin-top:-300px;
	}
	50%{
	
	}	
	100%{
		margin-top:0px !important;

	}
}
.animation3{
	animation:animation3 1s forward;
}
.animation4{
	animation:animation4 1s forward;
}
@keyframes animation4{
	0%{margin-right:-200px;}
	100%{margin-right:0px;}
}
/*GUIDE*/

#guide .steps{opacity:0;
	transition:0.2s;
	color:#FFF;
	font-size:20vw;
	line-height:0;
}
#guide{
	width:100%;
	display:block;
	margin-top:250px;
	
}

@media (max-width:800px){

	.steps{height:fit-content; padding:0px !important;  padding-bottom:20px !important;width:100% !important;margin-top:80px !important; border-radius:100px  100px 0px 0px !important;}#step1{margin-right:0px !important}
	.steps h3{font-size:12vw !important; text-align:center !important; }
	#guide{ margin-top:-30px; }
	#guide input[type="range"]{ margin-left:0px !important; width:100vw !important; scale:1 !important;}
	#rangeContainer{ height:30px; margin:0px !important;text-align:center; width:100vw !important; transform:rotate(0deg) !important; -webkit-transform:rotate(0deg); padding-left:0px !important;}
    #rangeContainer span{font-size:1.8rem !important;}
}

#rangeContainer span{
	position:absolute;
	margin:auto;
	top:0;
	margin-top:20px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	font-size:2rem;
	font-family:poppins;
	font-weight:800;
	color:rgb(23, 9, 0);
}
#rangeContainer{
	position:relative;
	width:450px;
    padding:30px;
	margin-bottom:-60px;
	padding-left:60px;
	background-size:cover !important;
	background-repeat: no-repeat ;
	background:linear-gradient(rgba(106, 60, 32,0.5),rgba(106, 60, 32,0.5)),url('../../media/wood2.webp');
	-webkit-transform:rotate(90deg);
    display: flex;
align-items: center;
justify-content: center;
height: 100px;
margin-left:-100px;
box-shadow:0px -5px 8px rgb(0,0,0) inset,0px 2px 8px rgb(100,100,100) inset;
}
@media (max-width:980px){
	#rangeContainer{
		margin-left:-150px;
	}
}
#guide input[type="range"]{
  scale:1.5;
  -webkit-appearance: none;
  appearance: none;
  background: #000;
  z-index:9996;
  cursor: grabbing;
  width: 320px;
  height:20px;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../media/metal.webp');
  box-shadow:0px 0px 6px rgb(0,0,0) inset;
  background-size:cover;
  margin-left:-30px;
  
}

#guide input[type="range"]::-webkit-slider-thumb {
	transition:0.2s;
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -12px; /* Centers thumb on the track */
   background-color: #7D7D7D;
   height: 80px;
   width: 20px;
   border-radius:0px;
   border-style:solid;
   border-width:6px 6px 6px 6px;
   border-right-color:#4C4C4C;
   border-top-color:#4C4C4C;
   border-bottom-color:#B2B2B2;
   border-left-color:#B2B2B2;
   box-shadow:0px 0px 0px rgb(0,0,0),-400px 0 0 400px #353535;
}

#guide input[type="range"]:active::-webkit-slider-thumb{
   transition:0.2s;
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   /* Centers thumb on the track */
   background-color: #7D7D7D;
   height: 78px;
   width: 18px;    
   border-radius:0px;
   border-style:solid;
   border-width:6px 6px 6px 6px;
   border-right-color:#4C4C4C;
   border-top-color:#4C4C4C;
   border-bottom-color:#B2B2B2;
   border-left-color:#B2B2B2;
   box-shadow:0px 0px 0px rgb(0,0,0),-400px 0 0 400px #353535;
}
#guide input[type="range"]::-moz-range-thumb {
	transition:0.2s;
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -12px; /* Centers thumb on the track */
   background-color: #7D7D7D;
   height: 80px;
   width: 20px;    
   border-radius:0px;
   border-style:solid;
   border-width:6px 6px 6px 6px;
   border-right-color:#4C4C4C;
   border-top-color:#4C4C4C;
   border-bottom-color:#B2B2B2;
   border-left-color:#B2B2B2;
   box-shadow:0px 0px 20px rgb(0,0,0);
}
#guide input[type="range"]:active::-moz-range-thumb{
   transition:0.2s;
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -12px; /* Centers thumb on the track */
   background-color: #7D7D7D;
   height: 78px;
   width: 18px;    
   border-radius:0px;
   border-style:solid;
   border-width:6px 6px 6px 6px;
   border-right-color:#4C4C4C;
   border-top-color:#4C4C4C;
   border-bottom-color:#B2B2B2;
   border-left-color:#B2B2B2;
   box-shadow:0px 0px 0px rgb(0,0,0);
}
#dumbCustomerWarning{
	opacity:0;
	position:absolute;
	z-index:9998;
	background-color:#000;
	color:#FFF;
	width:fit-content;
	padding:20px;
	font-size:1rem;
	font-family:poppins;
	padding-top:0px !important;
	border-radius:120px;
	margin:20px;
}
.animation6-run{
	animation:5s appearance 20s forwards;
}
@keyframes appearance{
     0%{opacity:0;}
	 10%{opacity:1;}
	 90%{opacity:1;}
     100%{opacity:0; margin-left:-600px;}
}


input[type="range"]::-moz-range-progress {
  box-shadow:0px -5px 8px rgb(0,0,0) inset,0px 2px 8px rgb(100,100,100) inset;
  background:linear-gradient(90deg,rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1),rgba(50,50,50,1),rgba(0,0,0,1),rgba(50,50,50,1));
  height:100%;
}

#step1{
	margin-right:-200px;
}
.steps{
	
	position:absolute;
	right:0;
	width:70%;
	padding:20px;
	margin-top:-200px;
	background:rgba(0, 128, 128,0.2);
	border-radius:100px 0px  0px 100px;
}
.steps .prefixo{
	font-size:4vw;
	font-family:poppins;
}
.steps h3{
		font-size:7vw;
		text-align:left;
	line-height:0px !important;
	color:#FFF;
	display:block;
	font-family:poppins;
	width:100%;
	font-weight:800;
	margin:0px !important;
}

#process{
	flex-wrap:wrap;
	display:flex;gap:6%;
	
}
#process div{
	width:20%; 
	overflow:hidden;
	font-family:poppins;
	font-size:1.5rem;
	line-height:0px;
	border:solid 6px #FFF; animation:glow 1s infinite;
	margin-top:10%;
	height:220px;
	text-align:center;
	padding:20px;
	
}
#progressbar{
	position:absolute;
	right:0;
	top:0;
	width:20px;
	background-image: linear-gradient(#ffffff 50vh, gray 0%);
    background-attachment:fixed;
	transition:1s;
	height: 730px;
	border-radius:100px;
	margin-right:20px;
	margin-top:80px;
	display:none;
}
@media (min-width:601px){
	#process{justify-content:center;}
}

@media (max-width:600px){
	#progressbar{
		display:block;
	}
	
	#process div{
		border:solid 6px transparent; animation:none 1s infinite;
	 width:60% !important;
	 padding:10px;
	 margin-left:2vw;
	}
	#process div h4{
		font-size:1rem;
	}
	#process div p{
		font-size:1rem !important;
	}
	#process{
		padding-top:40px;
		margin:auto;
	}
}
#process div svg{
	scale:1.2;
	fill:#FFF;
	line-height:0px;
}
#process div p{
text-align:left;
font-size:1rem;
font-weight:100;
line-height:1.4em;
font-family:merriweather;
}
@keyframes glow{
  0%{box-shadow:0px 0px 14px #FFF,0px 0px 14px #FFF inset;}	
  5%{box-shadow:0px 0px 13px #FFF,0px 0px 12px #FFF inset;}
  10%{box-shadow:0px 0px 12px #FFF,0px 0px 12px #FFF inset;}
  20%{box-shadow:0px 0px 13px #FFF,0px 0px 12px #FFF inset;}
  50%{box-shadow:0px 0px 14px #FFF,0px 0px 14px #FFF inset;}
  60%{box-shadow:0px 0px 13px #FFF,0px 0px 13px #FFF inset;}
  70%{box-shadow:0px 0px 14px #FFF,0px 0px 12px #FFF inset;}
  80%{box-shadow:0px 0px 13px #FFF,0px 0px 14px #FFF inset;}	
  10%{box-shadow:0px 0px 12px #FFF,0px 0px 12px #FFF inset;}
  100%{box-shadow:0px 0px 14px #FFF,0px 0px 14px #FFF inset;}
}

#instaSvg{
	transform:scale(1.55);
}
#step2,#step3,#step4{
	font-size:0px !important;
}
#step2 p,#step3 p,#step4 p{
	  margin-top:50px;
	font-size:1.5rem !important;
	line-height:1.5em;
	font-family:poppins;
  }
#step2 label{
	font-family:Trebuchet MS;
	font-size:2rem !important;
	
}
#step2 select{
	margin-top:18px;
}
@media (max-width:600px){
	.pricingOpt{display:none; padding:10px; margin:0px; width:100%;}
 #step2 form{ padding-top:20px;}
 #priceBoard{width:100%;}
#step2 label{
	font-family:Trebuchet MS;
	font-size:2rem !important;
	mergin-bottom:8px;
}
#step2 p,#step3 p,#step4 p{
	font-size:1.3rem !important;
  }	

}
#step2 form,#step3 form,#step4 form{
	
	line-height:initial !important;
	background-image:linear-gradient(rgba(25,12,0,0.6),rgba(25,12,0,0.6)),url('../../media/paint.webp');
	background-size:cover;
	box-shadow:0px 0px 20px #000 inset,0px 0px 20px #000;
	border:solid 2px #FFF ;
	
}

.pricingOpt{display:none;  padding:10px; margin:0px;}

#priceBoard p{
	font-size:1.6rem;
}
#priceBoard{
	opacity:0;
	position:fixed;
	bottom:0;

	height:80px;
	padding:20px;
	line-height: 0.2em;
	z-index:9999;
	background:rgba(29, 90, 26,0.7);
	font-family:poppins;
	font-size:2rem;
	color:#FFF;
	font-weight:100;
}
#step3 table{
	height:200px;
	overflow-y:hidden;
	overflow-x:hidden;
}
@media (max-width:600px){
	tbody{
	 height:200px;
	 overflow-x:scroll !important;
	 max-width:100vw;
	 display:block;
    } 
}
table{
	line-height: 1.2;
	width:100%;
	height:fit-content;
	font-size:18px;
	font-family:poppins;border-collapse: collapse; 
}
tr{
	border-top:inset 2px #FFF;
}
td{
	border-right:inset 2px #FFF;
}
th{
	font-size:20px;
}


#step4 ul li{
	font-family:poppins;
	font-weight:100;
	font-size:2rem;
	line-height:1.6em;
}
#moreInfo{
	width:60%;
	padding-left:50px;
}
@media (max-width:600px){
	#moreInfo{
		width:100%;
	}
}

.animation7-run{ 
	display:block;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid #FFF;
  white-space:nowrap;
  letter-spacing: .15em; 
  animation: typing 3.5s steps(30, end) forwards,
  cursorTypewriter .5s step-end infinite;
	text-align:left;
}

@keyframes typing {
  from { width: 0; }
  to { width:100%; max-width: fit-content;}
}

/* The typewriter cursor effect */
@keyframes cursorTypewriter {
  from, to { border-color: transparent; }
  50% { border-color: #FFF }
}

